{% extends 'flatpages/default.html' %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{% load custom_tags %}</h3>
   <h3>{% load censor %}</h3>
   <h3>{% current_time '%d %b %Y' %}</h3>

   {% if is_not_subscriber %}
       <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sn">Подписаться</a></p>
   {% endif %}

   <hr>

   {% if category_news_list %}
       {% for post in category_news_list %}
           <h2>{{ post.name }}</h2>
            <p>Категории:
            {% for category in post.category.all %}
               <a href="{% url 'category_list' category.id %}">{{ category.name }}</a>
            {% endfor %}
           </p>
           <p>{{ post.description|truncatechars:20|censor }}</p>
           <p>Дата публикации: {{ post.pub_date|date:'d.m.Y' }}</p>
       {% endfor %}
   {% else %}
       {% for category in categories %}
           <a href="{% url 'category_list' post.category.id %}">{{ post.category.name }}</a>
       {% endfor %}
       <h2>Новостей нет!</h2>
   {% endif %}


   {% if not_is_subscriber %}
       <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sn">Подписаться</a></p>
   {% endif %}


   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}